[submodule "Engine/RBVendor/spdlogs"]
	path = Engine/RBVendor/spdlogs
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/RBVendor/glfw"]
	path = Engine/RBVendor/glfw
	url = https://github.com/AAAiee/glfw_modified.git
[submodule "Engine/RBVendor/imGui"]
	path = Engine/RBVendor/imGui
	url = https://github.com/AAAiee/imgui.git
[submodule "Engine/RBVendor/glm"]
	path = Engine/RBVendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/RBVendor/yaml-cpp"]
	path = Engine/RBVendor/yaml-cpp
	url = https://github.com/AAAiee/yaml-cpp.git
